body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(103, 37, 168, 1);
}

.mobile-element {
    display: none;
}

.header {
    margin: 0px;
}

p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

main {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 3px;
    padding: 20px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
    background-color: #f6f6fa;
}

h1,
.h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.01em;
}

h2,
.h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
}

h3,
.h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
}

h4,
.h4 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.fond-bold {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.font-caption {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.main-left-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.01em;
}

.refund-text-free {
    color: rgba(12, 180, 119, 1);
    cursor: pointer;
}

#right-side-notification {
    top: 7px;
    left: -54px;
}

#left-side-notification {
    top: 24px;
    left: -173px;
}

.free-delivery-notification-container {
    width: 0;
    height: 0;
    overflow: visible;
}

.free-delivery-notification {
    display: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: black;
    width: 288px;
    background-color: #ffffff;
    padding: 10px 16px 14px 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 0px #0000004d;
    box-sizing: border-box;
    position: relative;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.check-box-default-mark {
    position: relative;
    top: -21px;
    left: 0px;
}

.edit-button {
    cursor: pointer;
}

.text-signature-bold {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
}
