@media (max-width: 1041px) {
    .main-right-side {
        width: 31.1% !important;
    }
}

@media (max-width: 1023px) {
    .mobile-element {
        display: block;
    }

    .desktop-element {
        display: none !important;
    }

    .modal-delivery-container {
        border-radius: 0px !important;
        width: 100% !important;
        height: 100% !important;
    }

    .modal-delivery-main {
        flex-grow: 1;
    }

    .modal-delivery-footer-button {
        width: 100% !important;
    }

    .modal-payment-container {
        border-radius: 0px !important;
        width: 100% !important;
        height: 100%;
    }

    .modal-payment-main {
        flex-grow: 1;
    }

    .modal-payment-footer-button {
        width: 87% !important;
    }
}
